.create-account-page-wrapper .create-account-row .form-row-wrapper {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.create-account-page-wrapper .create-account-row .form-row-wrapper .form-col {
    flex: 0 0 50%;
    padding: 0px 15px;
    position: relative;
    max-width: 50%;
}

.create-account-page-wrapper .create-account-row .form-row-wrapper .form-col .form-group {
    margin-bottom: 30px;
}

.select-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../images/down-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
}

.select-control-selected {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../images/up-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
}

#file-label {
    position: absolute;
    background-color: #0b2e58;
    color: #fff !important;
    height: 100%;
    width: 117px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.file-form-group {
    margin-top: 28px;
}

.create-account-page-wrapper .create-account-row .btn-wrapper {
    margin-top: 17px;
}

.save-btn {
    margin-right: 10px;
}